@media (max-width: 970px) {
  .home-content h1 {
    font-size: 4rem;
  }
  .home-content p {
    font-size: 1.2rem;
  }
}
@media (max-width: 759px) {
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content p {
    font-size: 0.9rem;
  }
  .image-container .developer-image {
    width: 60%;
    height: 90vh;
  }
}
@media (max-width: 640px) {
  .image-container .user-image {
    width: 15%;
    height: auto;
  }
  .image-container .developer-image {
    width: 50%;
    height: 60vh;
  }
}
@media (max-width: 360px) {
  .image-container .user-image {
    width: 10%;
    height: auto;
  }
  .image-container .developer-image {
    width: 45%;
    height: 30vh;
  }
}
@media (max-width: 990px) {
  .bio-container h1 {
    font-size: 2.5rem;
  }
  .bio-container p {
    font-size: 1rem;
  }
}
@media (max-width: 760px) {
  .bio-container h1 {
    font-size: 2rem;
  }
  .bio-container p {
    font-size: 0.9rem;
  }
  .developer-image {
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 640px) {
  .developer-image {
    padding-bottom: 4.5rem;
  }
}
@media (max-width: 360px) {
  .developer-image {
    padding-bottom: 7rem;
  }
}
@media (max-width: 830px) {
  .skills-container {
    display: flex;
    flex-direction: column;
  }
  .skill-card-2,
  .skill-card {
    border-bottom: 1px solid #a6a6a6;
  }
}
@media (max-width: 936px) {
  .recent-work-container {
    font-size: 15px;
  }
  .recent-work-container p {
    font-weight: 100;
    font-size: 15px;
  }
}
@media (max-width: 979px) {
  .project-card-1 {
    width: 100%;
    height: auto;
  }
  .project-card-1 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 466px) {
  .project-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card-description {
    font-size: 10px;
  }
  .card-link {
    font-size: 10px;
  }
}
@media (max-width: 466px) {
  .project-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
@media (max-width: 260px) {
  .project-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}
@media (max-width: 500px) {
  .github-link p {
    padding: 5px 1rem 5px 1rem;
    border-radius: 20px;
    font-size: 13px;
  }
}
@media (max-width: 10950px) {
  .collaboration-header {
    font-size: 0.8rem;
  }
}
@media (max-width: 879px) {
  .collaboration-header {
    font-size: 0.6rem;
  }
}
@media (max-width: 661px) {
  .collaboration-header {
    font-size: 0.5rem;
  }
}
@media (max-width: 1000px) {
  .startup-journey-container {
    padding: 10rem;
  }
}
@media (max-width: 700px) {
  .startup-journey-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .startup-journey-container h1 {
    font-size: 30px;
  }
  .startup-journey-container p {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .startup-journey-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 500px) {
  .startup-journey-container h1 {
    font-size: 20px;
  }
  .startup-journey-container p {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .startup-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 782px) {
  .startup-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (max-width: 470px) {
  .startup-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 400px) {
  .collaboration-link {
    width: 8rem;
  }
}
@media (max-width: 900px) {
  .slider {
    font-size: 14px;
  }
  .authorname {
    font-size: 20px !important;
  }
}
@media (max-width: 1045px) {
  .project-title {
    font-size: 27px;
  }
  .project-link {
    font-size: 15px;
  }
  .child-banner {
    gap: 1rem;
  }
}
@media (max-width: 752px) {
  .child-banner {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 890px) {
  .child-banner {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 500px) {
  .child-banner {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 432px) {
  .child-banner {
    padding: 2rem;
  }
}
