/* Base styles */
.reset-password-container-body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(135deg, #241414, #7ce6ee);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Container styles */
  .reset-password-container {
    background: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    animation: bounceIn 1s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  /* Header styles */
  .reset-password-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Input styles */
  .reset-password-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #0e0e0e49;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(63, 62, 62, 0.1);
  }
  
  .reset-password-input:focus {
    border-color: #ffa45b;
    box-shadow: 0 0 8px rgba(255, 100, 100, 0.5);
  }
  
  /* Button styles */
  .reset-password-button {
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.82);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
  .reset-password-button:hover {
    background-color: #47056bbf;
    transform: scale(1.05);
  }
  
  .reset-password-button:active {
    transform: scale(0.98);
  }
  
  /* Message styles */
  .reset-password-message {
    font-size: 14px;
    text-align: center;
    color: #ff6f61;
    margin-top: 10px;
    animation: fadeIn 1s;
  }
  
  /* Keyframes for animations */
  @keyframes bounceIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .reset-password-container {
      padding: 20px;
    }
    .reset-password-header {
      font-size: 20px;
    }
    .reset-password-button {
      font-size: 16px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .reset-password-header {
      font-size: 18px;
    }
    .reset-password-input {
      font-size: 14px;
    }
    .reset-password-button {
      font-size: 14px;
      padding: 8px;
    }
  }
  