.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-family: "Itim";
}
.header-list li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list li a {
  text-decoration: none;
  color: black;
}
.sendMessage:hover {
  background-color: rgb(0, 157, 255);
}
.sendMessage:hover a {
  color: white;
}
.learningp a:hover {
  color: blueviolet;
}
.sendMessage {
  border-radius: 2rem;
  border: 2px solid rgb(0, 157, 255);
  padding: 20px;
  height: 1px;
}
.menu-icon {
  cursor: pointer;
  z-index: 5;
}
.nav-wrapper {
  position: fixed;
}
.dashboard {
  border-radius: 2rem;
  border: 2px solid rgb(0, 157, 255);
  padding: 20px;
  height: 1px;
}
.dashboard:hover {
  background-color: rgb(0, 157, 255);
}
