@media (min-width: 700px) {
  .menu-icon {
    display: none;
  }
  .header-list {
    display: flex;
  }
}
@media (max-width: 900px) {
  .header-list {
    gap: 11px;
    margin-left: 0;
    left: -0.8rem;
    padding: 2px;
    position: relative;
  }
}
@media (max-width: 700px) {
  .header-list {
    display: flex;

    flex-direction: column;
    background: rgb(190, 230, 242);
    position: fixed;
    right: 7rem;
    top: 3rem;
    width: 30%;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 0;
    padding-top: 0.5rem !important;
    border-radius: 7px;
    gap: 0.5rem !important;
    margin: 0;
  }
  .header-list-body .header-list {
    left: 54%;
  }
  .menu-icon {
    cursor: pointer;
    position: absolute;
    left: 84%;
  }
  .learningp a {
    padding: 5px 1rem;
    border-bottom: 3px solid transparent;
  }
  .header-list .learningp:hover {
    background-color: rgba(7, 175, 253, 0.626);
    border-radius: 0;
  }
  .header-list .logoutt {
    padding: 2px 0;
  }
  .header-list .dashboard {
    padding: 2px 0;
  }
  .header-list .sendMessage {
    padding: 2px 0;
  }
  .header-list .learningp {
    padding: 2px 0;
    width: 100%;
  }
  .header-list .logoutt:hover {
    background-color: rgb(253, 7, 7);
    border-radius: 0;
    padding: 2px 0;
  }
  .header-list .dashboard:hover {
    background-color: rgba(7, 175, 253, 0.626);
    border-radius: 0;
    padding: 2px 0;
  }

  .header-list .loginn:hover {
    background-color: rgba(7, 175, 253, 0.626);
    border-radius: 0;
    padding: 2px 0;
  }
  .header-list .sendMessage:hover {
    background-color: rgba(7, 175, 253, 0.626);
    border-radius: 0;
    padding: 2px 0;
  }
  .header-list .sendMessage {
    width: 100%;
    height: auto;
    background: none;
  }
  .dashboard {
    padding: 0;
    border: none;
    height: auto;
    width: 100%;
  }
  .logoutt {
    padding: 0;
    border: none;
    height: auto;
    width: 100%;
  }
  .dashboard:hover {
    background: none;
  }
  .header-list .loginn {
    background: none;
    width: 100%;
    padding: 0;
  }
  .header-list li {
    background: none;
  }
  .sendMessage {
    border-radius: none;
    border: none;
    padding: 0;
    width: 100%;
    height: auto;
    background: none;
    height: 0;
  }

  .show-nav-wrapper {
    display: none;
  }
}
@media (max-width: 435px) {
  .learningp a:hover {
    padding: 5px 0rem;
  }
}
@media (max-width: 542px) {
  .sendMessage a:hover {
    padding: 5px 1.5rem;
  }
}
@media (max-width: 419px) {
  .sendMessage a:hover {
    padding: 5px 1rem;
  }
}
@media (max-width: 356px) {
  .sendMessage a:hover {
    padding: 5px 0.5rem;
  }
}
