@media (min-width: 700px) {
  .menu-icon {
    display: none;
  }
  .header-list {
    display: flex;
  }
}
@media (max-width: 700px) {
  .header-list {
    display: flex;
    flex-direction: column;
    background: rgb(190, 230, 242);
    position: fixed;
    right: 7rem;
    top: 2rem;
    width: 26%;
    height: 32%;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 7px;
    gap: 2rem;
  }
  .learningp a {
    padding: 5px 1rem;
    border-bottom: 3px solid transparent;
  }
  .learningp a:hover {
    background-color: rgb(183 181 186 / 32%);
  }

  .sendMessage a {
    padding: 5px 2.5rem;
    border-bottom: 3px solid transparent;
  }
  .sendMessage a:hover {
    background-color: rgb(183 181 186 / 32%);
    padding: 5px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .dashboard {
    border: none;
  }
  .dashboard:hover {
    background: none;
  }
  .header-list li {
    position: relative;
    top: 2rem;
  }
  .sendMessage {
    border-radius: none;
    border: none;
    padding: 0;
    height: 0;
  }
  .linee {
    border-bottom: 1px solid rgb(205, 205, 205);
    width: 100%;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }
  .show-nav-wrapper {
    display: none;
  }
}
@media (max-width: 435px) {
  .learningp a:hover {
    padding: 5px 0rem;
  }
}
@media (max-width: 542px) {
  .sendMessage a:hover {
    padding: 5px 1.5rem;
  }
}
@media (max-width: 419px) {
  .sendMessage a:hover {
    padding: 5px 1rem;
  }
}
@media (max-width: 356px) {
  .sendMessage a:hover {
    padding: 5px 0.5rem;
  }
}
