@media (max-width: 740px) {
  #input-project-category,
  #input-project-budget,
  #input-your-focus {
    width: 342%;
  }
  .form-container {
    height: 66rem;
  }
  .textarea-fields {
    width: 266%;
    height: 8rem;
    border-radius: 5px;
    border-color: #b3b3b3d1;
    padding: 10px;
    outline: none;
  }
}
